<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ActiveMQ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <message-destination-ref>
    <message-destination-ref-name>jms/myQueue</message-destination-ref-name>
    <message-destination-type>javax.jms.Queue</message-destination-type>
    <message-destination-usage>ConsumesProduces</message-destination-usage>
    <message-destination-link>MyQueue</message-destination-link>
  </message-destination-ref>
  <message-destination>
    <message-destination-name>MyQueue</message-destination-name>
  </message-destination>
  <servlet>
    <description></description>
    <display-name>JMSTest</display-name>
    <servlet-name>JMSTest</servlet-name>
    <servlet-class>com.neoteric.it.jms.JMSTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JMSTest</servlet-name>
    <url-pattern>/JMSTest</url-pattern>
  </servlet-mapping>
</web-app>