<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">
  <display-name>Spring MVC Application</display-name>
  
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- DispatcherServlet is the Front Controller to handle the requests -->
  <servlet>
  	<servlet-name>SpringWeb</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Url Handler is identified by using the Url Pattern "/" -->
  <servlet-mapping>
  	<servlet-name>SpringWeb</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>